<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>490495259121-osshrq79muop9sjokgc2pe1vgcq7fecc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.490495259121-osshrq79muop9sjokgc2pe1vgcq7fecc</string>
	<key>API_KEY</key>
	<string>AIzaSyBjXR1JmvXYIynh92B2D7zccEBNxw2RTk4</string>
	<key>GCM_SENDER_ID</key>
	<string>490495259121</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pa.bkinternational.app</string>
	<key>PROJECT_ID</key>
	<string>bk-international</string>
	<key>STORAGE_BUCKET</key>
	<string>bk-international.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:490495259121:ios:e7e582e421aa87674f5450</string>
	<key>DATABASE_URL</key>
	<string>https://bk-international.firebaseio.com</string>
</dict>
</plist>